<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<title>Chartjs Charts</title>
</head>

<body>
	<div style="height: 90vh; width: 90%;">
		<canvas id="myChart"></canvas>
	</div>

	<script>
		let labels = [];
		let data = [];
		let realdata = [];
		let myChart = null;
		let setChart = false;
		setInterval(() => {
					const currentDate = new Date();
					let timestamp = currentDate.getTime();
					labels.push(new Date(timestamp).toLocaleTimeString());
					fetch('/predict/'+String(timestamp))
					.then(response => response.json())
					.then(res => data.push(res))
					.then(() => {
						fetch('https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT')
						.then(response => response.json())
						.then(res => realdata.push(res.price))
						.then(() => {
							if(!setChart) {
								const finaldata = {
									labels: labels,
									datasets: [
										{
											label: 'Predicted Price',
											data: data,
											backgroundColor: 'rgba(255, 99, 132, 0.2)',
											borderColor: 'rgba(255, 99, 132, 1)',
											borderWidth: 1
										},
										{
											label: 'Real Price',
											data: realdata,
											backgroundColor: 'rgba(255, 99, 132, 0.2)',
											borderColor: 'rgba(255, 99, 132, 1)',
											borderWidth: 1
										}
									]
								};
								const config = {
									type: 'line',
									data: finaldata,
									options: {}
								};
								myChart = new Chart(
										document.getElementById('myChart'),
										config
								);
								console.log(myChart.data);
								setChart = true;
							} else {
								if(myChart.data.labels.length > 10) {
									myChart.data.labels.shift();
									myChart.data.labels.shift();
									myChart.data.datasets[0].data.shift();
									myChart.data.datasets[0].data.shift();
									myChart.data.datasets[1].data.shift();
									myChart.data.datasets[1].data.shift();
								}	
								myChart.data.labels.push(labels[labels.length-1]);
								myChart.data.datasets[0].data.push(data[data.length-1]);
								myChart.data.datasets[1].data.push(realdata[realdata.length-1]);
								myChart.update();
							}
						});
					});
		}, 2000);
	</script>
</body>
</html>